.table-wrap {
  border: 1px solid #c0c9e2;
}
.table-scroll {
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.table-header-wrap {
  position: sticky;
  top: 0;
  z-index: 2;
  table {
    font-size: 12px;
    thead th {
      height: 26px;
      padding: 4px 8px;
      border-bottom: 1px solid #c0c9e2;
      background: #fff;
      color: #adb8cf;
      text-align: left;
      border-left: 1px solid #c0c9e2;
      &[rowspan] {
        border-left: 0;
      }
    }
  }
}
.table-body-wrap {
  flex: 1;
  table {
    font-size: 12px;
    tbody {
      tr {
        &.delete-row {
          td * {
            color: #999da6;
            text-decoration: line-through;
          }
        }
      }

      td {
        height: 32px;
        padding: 4px 8px;
        border-bottom: 1px solid #c0c9e2;
        color: #363636;
        text-align: left;
        [class*=txt-status-] {
          font-weight: 400;
        }

        &.non-border-bottom {
          border-bottom: 0;
        }
      }
    }
  }
}
